#Xilinx ISE gitignore
*.gise
_ngo
iseconfig
isim
_xmsgs
*.xmsgs
*.log
isim
isim.cmd
netgen
*_translate.*
*.bld
*.cmd_log
*.lso
*.ngc
*.ngd
*.ngr
*.prj
*.stx
*.syr
*.vf
*.xst
*.xrpt
*.xreport
*_pn.xml
xilinxsim.ini
*_xdb
xst
*.jhd
*.wdb
*.exe
*.html
*.schlog
*.log
*sch2HdlBatchFile
*.cmd
*.schbak
*.schcmd
*.gise
*log
*.spl

#route and programming

*.bmm
*.bgn
*.bit
*.drc
*.ncd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.mrp
*.csv
*.txt
*.xml
*.ngm

#other junk
*.swp
