NET F<0> LOC=M5;
NET F<1> LOC=M11;
NET F<2> LOC=P7;
NET F<3> LOC=P6;
NET Cout LOC=G1;

NET EN_L LOC=K14;
NET EN_ML LOC=M13;
NET EN_MR LOC=J12;
NET EN_R LOC=F12;

NET SS<6> LOC=L14;
NET SS<5> LOC=H12;
NET SS<4> LOC=N14;
NET SS<3> LOC=N11;
NET SS<2> LOC=P12;
NET SS<1> LOC=L13;
NET SS<0> LOC=M12;

NET S0 LOC=C11;
NET S1 LOC=M4;
NET M LOC=A7;

NET B<0> LOC=P11;
NET B<1> LOC=L3;
NET B<2> LOC=K3;
NET B<3> LOC=B4;
NET A<0> LOC=G3;
NET A<1> LOC=F3;
NET A<2> LOC=E2;
NET A<3> LOC=N3;

NET CLK LOC=B8;