###Auto generated UCF file for BASYS2 Board
NET S0 LOC=M5; # Discrete LED 0 (active high)
NET S1 LOC=M11; # Discrete LED 1 (active high)
NET S2 LOC=P7; # Discrete LED 2 (active high)
NET S3 LOC=P6; # Discrete LED 3 (active high)
NET S4 LOC=N5; # Discrete LED 4 (active high)
NET S5 LOC=N4; # Discrete LED 5 (active high)
NET MEM_EN LOC=P4; # Discrete LED 6 (active high)
NET WRITE_EN LOC=G1; # Discrete LED 7 (active high)

### BASYS2 7-Segment LED:
### BASYS2 digit enables:
NET EN_L LOC=K14; # left digit enable (active low)
NET EN_ML LOC=M13; # middle left digit enable (active low)
NET EN_MR LOC=J12; # middle right digit enable (active low)
NET EN_R LOC=F12; # right digit enable (active low)

### BASYS2 segment enables:
NET seven_seg_out<0> LOC=L14; # LED display segment a (active low)
NET seven_seg_out<1> LOC=H12; # LED display segment b (active low)
NET seven_seg_out<2> LOC=N14; # LED display segment c (active low)
NET seven_seg_out<3> LOC=N11; # LED display segment d (active low)
NET seven_seg_out<4> LOC=P12; # LED display segment e (active low)
NET seven_seg_out<5> LOC=L13; # LED display segment f (active low)
NET seven_seg_out<6> LOC=M12; # LED display segment g (active low)
NET Reset LOC=M4; # Pushbutton 2 (active high)
NET PUSH LOC=A7; # Pushbutton 3 (active high)
NET CLK LOC=B8; # clock

INST BOOTSTRAP/ROMARRAY/ROM11 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM12 INIT = 00100000;
INST BOOTSTRAP/ROMARRAY/ROM13 INIT = 00100000;
INST BOOTSTRAP/ROMARRAY/ROM14 INIT = 00080000;
INST BOOTSTRAP/ROMARRAY/ROM15 INIT = 00050000;
INST BOOTSTRAP/ROMARRAY/ROM16 INIT = 00105501;
INST BOOTSTRAP/ROMARRAY/ROM17 INIT = 00005050;
INST BOOTSTRAP/ROMARRAY/ROM18 INIT = 0006EEEE;
INST BOOTSTRAP/ROMARRAY/ROM21 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM22 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM23 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM24 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM25 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM26 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM27 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM28 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM31 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM32 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM33 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM34 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM35 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM36 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM37 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM38 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM41 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM42 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM43 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM44 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM45 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM46 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM47 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM48 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM51 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM52 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM53 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM54 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM55 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM56 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM57 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM58 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM61 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM62 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM63 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM64 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM65 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM66 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM67 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM68 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM71 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM72 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM73 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM74 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM75 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM76 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM77 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM78 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM81 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM82 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM83 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM84 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM85 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM86 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM87 INIT = 00000000;
INST BOOTSTRAP/ROMARRAY/ROM88 INIT = 00000000;