#LEDs
NET LED<0> LOC=M5;
NET LED<1> LOC=M11;
NET LED<2> LOC=P7;
NET LED<3> LOC=P6;
NET LED<4> LOC=N5;
NET LED<5> LOC=N4;
NET LED<6> LOC=P4;
NET LED<7> LOC=G1;

#Seven Segment enable bits
NET SS_EN_L LOC=K14;
NET SS_EN_ML LOC=M13;
NET SS_EN_MR LOC=J12;
NET SS_EN_R LOC=F12;

#Seven Segment segment bits
NET SS<0> LOC=L14;
NET SS<1> LOC=H12;
NET SS<2> LOC=N14;
NET SS<3> LOC=N11;
NET SS<4> LOC=P12;
NET SS<5> LOC=L13;
NET SS<6> LOC=M12;

#Pushbuttons
NET BTN<0> LOC=G12;
NET BTN<1> LOC=C11;
NET BTN<2> LOC=M4;
NET BTN<3> LOC=A7;

#Switches
NET SW<0> LOC=P11;
NET SW<1> LOC=L3;
NET SW<2> LOC=K3;
NET SW<3> LOC=B4;
NET SW<4> LOC=G3;
NET SW<5> LOC=F3;
NET SW<6> LOC=E2;
NET SW<7> LOC=N3;

#Clock
NET CLK LOC=B8;
